<% title "Relatório" %>
<h1>Relatório</h1>
<%if User.find(current_user.id).has_role? :admin  %>
<p><%= link_to "+ Adicionar movimentação", new_admin_supply_path, :class => "button" %></p>
<% end %>
<%if User.find(current_user.id).has_role? :supervisor  %>
<p><%= link_to "+ Adicionar movimentação", new_admin_supply_path, :class => "button" %></p>
<% end %>
<h2>Últimas Compras</h2>
<table width="100%">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Tipo</th>
    <th>Data</th>
  </tr>
  <%$total_compra = 0%>
  <% for supply in @supplies_buy %>
    
	<tr>
      <td><%= supply.product.name %></td>
      <td><%= supply.quantity %></td>
      <td>
		<% case supply.buy %>
		<%when true%>
			Compra
			<%$total_compra = $total_compra + supply.quantity%>
		<%when false%>
			Retirada
			<%$total_compra = $total_compra - supply.quantity%>
		<%end%>
	  </td>
      <td><%= supply.input_date %></td>
      <td><%= link_to "Ver", [:admin, supply], :class => "small button secondary" %>
      <%if User.find(current_user.id).has_role? :admin  %>
      <%= link_to "Editar", edit_admin_supply_path(supply), :class => "small button secondary" %>
      <%= link_to "Deletar", [:admin, supply], :confirm => 'Are you sure?', :method => :delete, :class => "small button secondary" %>
      <% end %>
      <%if User.find(current_user.id).has_role? :supervisor  %>
      <%= link_to "Editar", edit_admin_supply_path(supply), :class => "small button secondary" %>
      <%= link_to "Deletar", [:admin, supply], :confirm => 'Are you sure?', :method => :delete, :class => "small button secondary" %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
<h3 style="color:green !important;">Total = <%=$total_compra%></h3>

<h2>Últimas Retiradas</h2>
<table width="100%">
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Tipo</th>
    <th>Data</th>
  </tr>
  <%$total_retirada = 0%>
  <% for supply in @supplies %>
    <tr>
      <td><%= supply.product.name %></td>
      <td><%= supply.quantity %></td>
      <td>
		<% case supply.buy %>
		<%when true%>
			Compra
			<%$total_retirada = $total_retirada + supply.quantity%>
		<%when false%>
			Retirada
			<%$total_retirada = $total_retirada - supply.quantity%>
		<%end%>
	  </td>
      <td><%= supply.input_date %></td>
      <td><%= link_to "Ver", [:admin, supply], :class => "small button secondary" %>
      <%if User.find(current_user.id).has_role? :admin  %>
      <%= link_to "Editar", edit_admin_supply_path(supply), :class => "small button secondary" %>
      <%= link_to "Deletar", [:admin, supply], :confirm => 'Are you sure?', :method => :delete, :class => "small button secondary" %>
      <% end %>
      <%if User.find(current_user.id).has_role? :supervisor  %>
      <%= link_to "Editar", edit_admin_supply_path(supply), :class => "small button secondary" %>
      <%= link_to "Deletar", [:admin, supply], :confirm => 'Are you sure?', :method => :delete, :class => "small button secondary" %>
      <% end %></td>
    </tr>
  <% end %>
</table>
<h3 style="color:red !important;">Total = <%=$total_retirada%></h3>

<%if User.find(current_user.id).has_role? :admin  %>
<p><%= link_to "+ Adicionar movimentação", new_admin_supply_path, :class => "button" %></p>
<% end %>
<%if User.find(current_user.id).has_role? :supervisor  %>
<p><%= link_to "+ Adicionar movimentação", new_admin_supply_path, :class => "button" %></p>
<% end %>
