<% 
	content_for :title do "Resultado da Busca por: #{params[:keyword]}" end
%>

<h1>Buscando por: <%=params[:keyword]%></h1>
<br />

<table>
  <tr>
    <th width="200px">Nome</th>
  </tr>
  	<%@Results.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "Ver", [:admin, product], :class => "small button secondary" %>
      <%if User.find(current_user.id).has_role? :admin %>
      <%= link_to "Editar", edit_admin_product_path(product), :class => "small button secondary" %>
      <%= link_to "Deletar", [:admin, product], :confirm => 'Are you sure?', :method => :delete, :class => "small button secondary" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<br><br>
<%=link_to "Voltar", admin_users_path, :class => "button"%>
